div {
  border-radius: 25px;
  background: #99ff99;
  margin-top: 15px;
  padding: 20px;
  width: 75%;
}

h1{
 font-size: 70px;
    float: center;
}

h2{
 font-size: 30px;
    float: center;
}
h3{
 font-size: 50px;
  float: center;
}
h4{
 font-size: 30px;
  float: center;
}
h5{
 font-size: 20px;
  float: center;
}
p{

}

